# Python for Fashionistas - Part 2

![fashionista](images/fashionista.png)

## Part 2

The following sections will be a _complement_ with examples of real life applications to the course on Udacity. It is recommended to go through the subsections lists and tuples after watching 1-10 of ```Lesson 3: Data Structures``` and 10-14 of ```Lesson 4: Control Flow```.

### 1. Lists

Imagine you want to keep track of the ten most popular articles at a global fashion store. You could keep track of them in 10 different variables, but it is very cumbersome. Therefore, Python offers something called **lists**, which is a data structure that can store a collection of items.

* a list is defined using squared brackets [item1, item2, item3, ...]
* each item is separated with a comma 
* index (position) starts from 0,1,2,..,n

In [1]:
most_popular_articles = ['Oversized Denim Shirt',
                         'Platform Boots',
                         'Fine-knit Pencil Skirt',
                         'Mom High Ankle Jeans',
                         'Rib-knit Sweater',
                         'Hairband with Knot',
                         'Water-repellent Shell Jacket',
                         'Cotton Cargo Joggers',
                         'Cotton Hoodie',
                         'Corduroy Overall Dress']
most_popular_articles

['Oversized Denim Shirt',
 'Platform Boots',
 'Fine-knit Pencil Skirt',
 'Mom High Ankle Jeans',
 'Rib-knit Sweater',
 'Hairband with Knot',
 'Water-repellent Shell Jacket',
 'Cotton Cargo Joggers',
 'Cotton Hoodie',
 'Corduroy Overall Dress']

### 1.1. Examine a list

It is common that you want to access the values in a list. To do that you have to specify:

* the variable that stores the list
* the index of that value

What is the **first** article in the list?

In [2]:
most_popular_articles[0]

'Oversized Denim Shirt'

What is the **second** article in the list?

In [ ]:
# Exercise a)

What is the **fifth** article in the list?

In [3]:
# Exercise b)

What is the **last** article in the list?

In [4]:
# Exercise c)

**Extra:** Negative indexing means starting from the end, -1 refers to the last element, -2 refers to the second last element and so on. Try it out!

### 1.2. List slicing
Instead of returning a single element from the list, we can also return selected parts from it. The only difference is that an index interval need to be specified.

In [6]:
most_popular_articles[0:3] # from index 0 up to, but not including index 3.

['Oversized Denim Shirt', 'Platform Boots', 'Fine-knit Pencil Skirt']

Excluding the first index means return all the elements before the second index.

In [8]:
most_popular_articles[:3]

['Oversized Denim Shirt', 'Platform Boots', 'Fine-knit Pencil Skirt']

Excluding the second index means return all elements from the first index to the very end of the list.

In [9]:
most_popular_articles[3:]

['Mom High Ankle Jeans',
 'Rib-knit Sweater',
 'Hairband with Knot',
 'Water-repellent Shell Jacket',
 'Cotton Cargo Joggers',
 'Cotton Hoodie',
 'Corduroy Overall Dress']

**Exercise:** Return any five elements in the list

**Exercise:** Return the five first elements in the list

**Exercise:** Return the five last elements in the list

### 1.3 List methods
In Python lists are known for being _mutable_ which means we can modify the content in it, including changing the number of elements. We are going to try this out using _methods_ and for now it is enough that you know that methods let us do something. To use a method you have to specify:

* the list to modify
* the name of the method
* input parameter(s)

The method _append(element)_ adds an element to the end of a list.

In [10]:
most_popular_articles.append('Patterned Ruffled Dress')
most_popular_articles

['Oversized Denim Shirt',
 'Platform Boots',
 'Fine-knit Pencil Skirt',
 'Mom High Ankle Jeans',
 'Rib-knit Sweater',
 'Hairband with Knot',
 'Water-repellent Shell Jacket',
 'Cotton Cargo Joggers',
 'Cotton Hoodie',
 'Corduroy Overall Dress',
 'Patterned Ruffled Dress']

The method _insert(index, element)_ places an element at a specific position in the list. This function requires two input parameters, index and element.

In [11]:
most_popular_articles.insert(2, 'Boxy Puffer Jacket')
most_popular_articles

['Oversized Denim Shirt',
 'Platform Boots',
 'Boxy Puffer Jacket',
 'Fine-knit Pencil Skirt',
 'Mom High Ankle Jeans',
 'Rib-knit Sweater',
 'Hairband with Knot',
 'Water-repellent Shell Jacket',
 'Cotton Cargo Joggers',
 'Cotton Hoodie',
 'Corduroy Overall Dress',
 'Patterned Ruffled Dress']

The method _remove(element)_ removes the first occurence of an element from the list.

In [12]:
most_popular_articles.remove('Water-repellent Shell Jacket')
most_popular_articles

['Oversized Denim Shirt',
 'Platform Boots',
 'Boxy Puffer Jacket',
 'Fine-knit Pencil Skirt',
 'Mom High Ankle Jeans',
 'Rib-knit Sweater',
 'Hairband with Knot',
 'Cotton Cargo Joggers',
 'Cotton Hoodie',
 'Corduroy Overall Dress',
 'Patterned Ruffled Dress']

Modifying an element in a list is a bit different. Instead of applying a method a new element is assigned to an index.

In [13]:
most_popular_articles[0] = "Denim Shirt"
most_popular_articles

['Denim Shirt',
 'Platform Boots',
 'Boxy Puffer Jacket',
 'Fine-knit Pencil Skirt',
 'Mom High Ankle Jeans',
 'Rib-knit Sweater',
 'Hairband with Knot',
 'Cotton Cargo Joggers',
 'Cotton Hoodie',
 'Corduroy Overall Dress',
 'Patterned Ruffled Dress']

Another important function is _len(list)_. This function returns the number of elements in a list.

In [14]:
len(most_popular_articles)

11

**Exercise:** The new article [Jersey Shacket](https://www2.hm.com/en_us/productpage.0898694002.html) has raised in popularity and has become one of the most popular articles. We have to keep track of it so add it to the list ```most_popular_articles```.

**Exercise:** Assume the list ```most_popular_articles``` is ranked. The first article is the most popular, second is the second most popular and so on. This week there was a special offer on all boots. This lead to _Platform Boots_ becoming the most popular article. Could you rearrange the rank in the list?

**Exercise:** We have received instructions on that dresses should not be included among the most popular articles. Remove all the dresses from the list.

**Exercise**: The article [Oversized Denim Shirt](https://www2.hm.com/en_us/productpage.0846399001.html) has been mispelled in the list. Could you modify the name of it?

**Exercise:** How many articles are in the list?

### 1.4. Sorting a list

**Exercise:** Facilitate the search of an article in the list. Sort the articles in alphabetical order by using the function _sorted(list)_. Replace list with the variable that stores your list.

**Exercise:** Try to sort the articles in reverse by adding a second parameter ```reverse=True``` to the function.

**Note:** The words methods and functions have been mentioned. They mean the same, but are being used in different contexts. We are going to learn more about it as we progress.

### 2. Tuples

Tuples is another data structure that can store a collection of items. The difference between lists and tuples is that tuples are _immutable_, which means they cannot be modified once created.

* a tuple is defined using paranthesis (item1, item2, item3, ...)
* each item is separated with a comma 
* index (position) starts from 0,1,2,..,n

In [15]:
most_popular_articles = ('Oversized Denim Shirt',
                         'Platform Boots',
                         'Fine-knit Pencil Skirt',
                         'Mom High Ankle Jeans',
                         'Rib-knit Sweater',
                         'Hairband with Knot',
                         'Water-repellent Shell Jacket',
                         'Cotton Cargo Joggers',
                         'Cotton Hoodie',
                         'Corduroy Overall Dress')
most_popular_articles

('Oversized Denim Shirt',
 'Platform Boots',
 'Fine-knit Pencil Skirt',
 'Mom High Ankle Jeans',
 'Rib-knit Sweater',
 'Hairband with Knot',
 'Water-repellent Shell Jacket',
 'Cotton Cargo Joggers',
 'Cotton Hoodie',
 'Corduroy Overall Dress')

### 2.1. Examine a tuple

To access an element in a tuple you have to specify:

* the variable that stores the tuple
* the index of that value

What is the **first** article in the tuple?

In [16]:
most_popular_articles[0]

'Oversized Denim Shirt'

What is the **third** article in the tuple?

In [ ]:
# Exercise a)

What is the **sixth** article in the tuple?

In [ ]:
# Exercise b)

What is the **last** article in the tuple?

In [17]:
# Exercise c)

### 2.2. Tuple slicing
Instead of returning a single element from a tuple, we can also return selected parts of it. The only difference is that an index interval need to be specified.

In [18]:
most_popular_articles[0:3] # from index 0 up to, but not including index 3.

('Oversized Denim Shirt', 'Platform Boots', 'Fine-knit Pencil Skirt')

**Exercise**: Return any five articles in the tuple

**Exercise:** Return the first five articles in the tuple

**Exercise:** Return the last five articles in the tuple

### 2.3. Tuple methods

**Exercise:** Modify the name of an article in the tuple. What happens? Why did it happen?

### 3. Lists + Tuples
Let's combine our knowledge from lists and tuples. So far, we have only stored the name of the most popular articles in the data structures. Usually we want to have more information about an article, for example article number, color, price, size etc. The problem is that it is difficult to store information about multiple articles in a single list or tuple. In the list ```articles```, we have stored both the _article name_ and _article number_ of three different articles.

In [19]:
articles = ["Oversized Denim Shirt", "Platform Boots", "0846399001", 
            "0916256005", "0918836001", "Fine-knit Pencil Skirt", ]
articles

['Oversized Denim Shirt',
 'Platform Boots',
 '0846399001',
 '0916256005',
 '0918836001',
 'Fine-knit Pencil Skirt']

How do we know which article name belongs to which article number? It is not very obvious, but one way to solve it is to combine tuples and lists.

In [20]:
articles = [("0846399001", "Oversized Denim Shirt"),
            ("0916256005", "Platform Boots"),
            ("0918836001", "Fine-knit Pencil Skirt")]
articles

[('0846399001', 'Oversized Denim Shirt'),
 ('0916256005', 'Platform Boots'),
 ('0918836001', 'Fine-knit Pencil Skirt')]

### 3.1. Examine a list of tuples

**Exercise:** What is the last tuple in the list?

**Exercise**: Use the list to access the article name _Platform Boots_

### 3.2. List methods

**Exercise:** [Fine-knit Turtleneck Sweater](https://www2.hm.com/en_us/productpage.0715828011.html) is an article we are interested in looking more into. Add it to the list ```articles```.

**Exercise:** [Transparent Eyeglasses](https://www2.hm.com/en_us/productpage.0937862001.html) is another article we are highly interested in. Add it to the first index in the list.

**Exercise:** The [Fine-knit Pencil Skirt](https://www2.hm.com/en_us/productpage.0918836001.html) belongs to a special collection and will soon no longer be on sale. Remove it from the list.

**Exercise:** Replace the [Platform Boots](https://www2.hm.com/en_us/productpage.0916256005.html) with [High Profile Chelsea Boots](https://www2.hm.com/en_us/productpage.0898889002.html) in the list.

### 4. Lists + Lists
We have seen that we can store different datatypes and tuples in a list, but we can also store multiple lists in a list.

In [21]:
articles = [["0846399001", "Oversized Denim Shirt"],
            ["0916256005", "Platform Boots"],
            ["0918836001", "Fine-knit Pencil Skirt"]]
articles

[['0846399001', 'Oversized Denim Shirt'],
 ['0916256005', 'Platform Boots'],
 ['0918836001', 'Fine-knit Pencil Skirt']]

### 4.1. Examine a list of lists

**Exercise:** What is the second list in the list?

**Exercise:** Use the list to access the article name _Fine-knit Pencil Skirt_

### 4.2. List methods

**Exercise:** [Fine-knit Turtleneck Sweater](https://www2.hm.com/en_us/productpage.0715828011.html) is an article we are interested in looking more into. Add it to the list ```articles```.

**Exercise:** [Transparent Eyeglasses](https://www2.hm.com/en_us/productpage.0937862001.html) is another article we are highly interested in. Add it to the first index in the list.

**Exercise:** The [Fine-knit Pencil Skirt](https://www2.hm.com/en_us/productpage.0918836001.html) belongs to a special collection and will soon no longer be on sale. Remove it from the list.

**Exercise:** Replace the [Platform Boots](https://www2.hm.com/en_us/productpage.0916256005.html) with [High Profile Chelsea Boots](https://www2.hm.com/en_us/productpage.0898889002.html) in the list.

### 5. For Loops
There are times we want to repeat the same code multiple times or apply the same changes to each element in a list. To perform this we use for loops. Let's look at an example using the list with the most popular articles.

In [22]:
most_popular_articles = ['Oversized Denim Shirt',
                         'Platform Boots',
                         'Fine-knit Pencil Skirt',
                         'Mom High Ankle Jeans',
                         'Rib-knit Sweater',
                         'Hairband with Knot',
                         'Water-repellent Shell Jacket',
                         'Cotton Cargo Joggers',
                         'Cotton Hoodie',
                         'Corduroy Overall Dress']
most_popular_articles

['Oversized Denim Shirt',
 'Platform Boots',
 'Fine-knit Pencil Skirt',
 'Mom High Ankle Jeans',
 'Rib-knit Sweater',
 'Hairband with Knot',
 'Water-repellent Shell Jacket',
 'Cotton Cargo Joggers',
 'Cotton Hoodie',
 'Corduroy Overall Dress']

How to read for loops:
* For every article in the list ```most_popular_articles```
    * Compute the length (number of characters) of the article name and print the article name and its length

In [23]:
for article in most_popular_articles:
    print(article, len(article))

Oversized Denim Shirt 21
Platform Boots 14
Fine-knit Pencil Skirt 22
Mom High Ankle Jeans 20
Rib-knit Sweater 16
Hairband with Knot 18
Water-repellent Shell Jacket 28
Cotton Cargo Joggers 20
Cotton Hoodie 13
Corduroy Overall Dress 22

**Note:** The variable _article_ can be called anything. You can think of the variable as a "pointer" that points to the first, second, third,.. element in the list. To prove this let's change the name of that variable.

In [24]:
for i in most_popular_articles:
    print(i, len(i))

Oversized Denim Shirt 21
Platform Boots 14
Fine-knit Pencil Skirt 22
Mom High Ankle Jeans 20
Rib-knit Sweater 16
Hairband with Knot 18
Water-repellent Shell Jacket 28
Cotton Cargo Joggers 20
Cotton Hoodie 13
Corduroy Overall Dress 22

For loops can be combined with conditional statements and comparisons. 
* For every article in the list ```most_popular_articles```
    * Compute the length of the article and save the value in ```nbr_chars```
    * If the length is larger than 20
        * Print the name of the article and its length

In [25]:
for article in most_popular_articles:
    nbr_chars = len(article) 
    if nbr_chars > 20:
        print(article, nbr_chars)

Oversized Denim Shirt 21
Fine-knit Pencil Skirt 22
Water-repellent Shell Jacket 28
Corduroy Overall Dress 22

For loops can also be combined with another for loop

* For every article in the list ```most_popular_articles```
    * Compute the length of the article and save the value in ```nbr_chars```
    * If the length is larger than 20
        * Go through another list. For every number in list [1, 2] 
            * Print the number, name of the article and its length

In [26]:
for article in most_popular_articles:
    nbr_chars = len(article) 
    if nbr_chars > 20:
        for nbr in [1, 2]:
            print(nbr, article, nbr_chars)

1 Oversized Denim Shirt 21
2 Oversized Denim Shirt 21
1 Fine-knit Pencil Skirt 22
2 Fine-knit Pencil Skirt 22
1 Water-repellent Shell Jacket 28
2 Water-repellent Shell Jacket 28
1 Corduroy Overall Dress 22
2 Corduroy Overall Dress 22

---
When working with data it is very common the information is spread out at different places. A common first step is to build a table (let's call lists in list a table for now) that contains all the information we are interested in. Let's use ```article_table``` as our base table in the following exercises.

In [27]:
# ["article_number", "article_name"]
article_table = [["0846399001", "Oversized Denim Shirt"],
                 ["0916256005", "Platform Boots"],
                 ["0918836001", "Fine-knit Pencil Skirt"]]
article_table

[['0846399001', 'Oversized Denim Shirt'],
 ['0916256005', 'Platform Boots'],
 ['0918836001', 'Fine-knit Pencil Skirt']]

The first information we want to add to our base table is the _stock_, but before doing that we have to make sure the stock table is reasonable. An issue that may occur are negative stock values. Keeping negative stock values can have an impact on coming analysis, so let's remove it.

In [28]:
# [article_numer, stock]
stock_table = [["0846399001", 10],
               ["0916256005", 20],
               ["0807725990", -1],
               ["0918836001", 15]]
stock_table

[['0846399001', 10],
 ['0916256005', 20],
 ['0807725990', -1],
 ['0918836001', 15]]

**Exercise:** Filter out the negative stock values.

**Exercise:** Add stock from ```stock_table``` to ```article_table```

The second information we want to add to the base table is the sales information from the ```sales_table```.

In [29]:
# [article_number, total_net_sales, pieces]
sales_table = [["0846399001", 300, 5],
               ["0916256005", 600, 15],
               ["0918836001", 400, 10]]

**Exercise:** Add total_net_sales and pieces from ```sales_table``` to ```article_table```.

**Exercise:** Compute the _net price_ (total_net_sales/pieces) and add it to ```article_table```.